<div id="<%= dom_id post %>" class="bg-white shadow-lg rounded-lg p-8 mb-4 max-w-3xl mx-0">
  <!-- Caption Section -->
  <div class="mb-2">
    <strong class="block font-semibold text-gray-800 text-xl mb-2">Caption:</strong>
    <p class="text-gray-600"><%= post.caption %></p>
  </div>

  <!-- Body Section -->
  <div class="mb-2">
    <strong class="block font-semibold text-gray-800 text-xl mb-2">Body:</strong>
    <p class="text-gray-600"><%= post.body %></p>
  </div>

  <!-- Images Section -->
  <% if post.images.length > 0 %>
    <div class="mb-2">
      <strong class="block font-semibold text-gray-800 text-xl mb-4">Images:</strong>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <% post.images.each do |image| %>
          <div class="rounded-lg overflow-hidden shadow-md hover:shadow-lg transition-shadow duration-200 ease-in-out">
            <%= image_tag image, class: "w-full h-48 object-cover" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- User Section -->
  <div>
    <strong class="block font-semibold text-gray-800 text-xl mb-2">Posted by:</strong>
    <p class="text-gray-600"><%= post.user.email.split("@").first %></p>
    <strong class="block font-semibold text-gray-800 text-xl mb-2">Created at:</strong>
    <p class="text-gray-600"><%= time_ago_in_words(post.created_at) %></p>
    <div class="flex flex-row items-center justify-center gap-x-16" data-controller="reacts" data-post-id=<%= post.id %>>
      <%= link_to "#", class: "icon-hover flex items-center gap-x-2", id: "happy-icon", data: { action: "click->reacts#handleHappyClick" } do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" />
        </svg>
        <span id="happy-count" data-reacts-target="happyCount"><%= post.reactions.where(name: 'happy').count %></span>
      <% end %>

      <%= link_to "#", class: "icon-hover flex items-center gap-x-2", id: "sad-icon", data: { action: "click->reacts#handleSadClick" } do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 16.318A4.486 4.486 0 0 0 12.016 15a4.486 4.486 0 0 0-3.198 1.318M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" />
        </svg>
        <span id="sad-count" data-reacts-target="sadCount"><%= post.reactions.where(name: 'sad').count %></span>
      <% end %>
    </div>
  </div>
</div>