<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "F1 Social Media" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <!-- Navigation Bar -->
    <nav class="bg-white shadow-md p-4">
      <div class="container mx-auto flex justify-between items-center">
        <!-- Logo or Brand Name -->
        <div class="text-2xl font-bold text-gray-800">
          <%= link_to "F1 Social Media", root_path %>
        </div>

        <!-- Navigation Links -->
        <div class="flex items-center space-x-4">
          <% if user_signed_in? %>
            <!-- New Post Link -->
            <%= link_to "New Post", new_post_path, class: "rounded-md px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white font-medium transition duration-200 ease-in-out" %>

            <!-- Logout Button -->
            <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "rounded-md px-4 py-2 bg-red-600 hover:bg-red-700 text-white font-medium transition duration-200 ease-in-out" %>
          <% else %>
            <!-- Login and Sign Up Links -->
            <%= link_to "Login", new_user_session_path, class: "rounded-md px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white font-medium transition duration-200 ease-in-out" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "rounded-md px-4 py-2 bg-green-600 hover:bg-green-700 text-white font-medium transition duration-200 ease-in-out" %>
          <% end %>
        </div>
      </div>
    </nav>

      <%= yield %>
  </body>
</html>